

<div class="container py-5 ">
  <div class="text-center text-justify bg-light border boder-secondary rounded p-2">
  <h1>About Dog App!</h1>
  <p>In Peru there is around 6 millions abandoned dogs (diario La Republica, 2018), 
  Dog App is an answer about this current social problem. Dog App is a place where future adopters or refugees, foster houses 
  can interact and talk each other and post about their abadoned case or rescued case. So they can find a home and a family to live with.<p>
  
  <p>Check out the posts hitting the blue button!</p>

  <%= link_to "Home", root_path, class:"btn btn-secondary"%>
  <%= link_to "Blog", posts_path, class:"btn btn-primary"%>
  </div>
</div>  